body,header,img,h1,h2,main,section,p,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #eeeeee;
   
}
header{
    background-color: #04133d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

header h1{
    color: #fff;
    margin-left: 5px;
}

section{
    background-color: #fff;
    color: #393cdd;
    text-align: center;
}
section h3{
    font-weight: 300;
    text-align: left;
}

section h2{
    font-weight: 400;
    text-align: left;
}

section p{
    margin: 10px 0;
    text-align: left;
}
section ul{
    margin: 10px 0;
    text-align: left;
}

footer{
    height: 400px;
    background-image: url("./../img/fundo-rodape.png");
    background-size: cover;
    background-attachment: fixed;
}
